<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="Guide">
        <setting id="xmltv.file" label="30103" type="file" default="/storage/.kodi/userdata/addon_data/script.squidtvguide/XMLTV.xml" />
        <setting id="xmltv.logo.folder" label="30116" type="folder" default="/storage/.kodi/addons/script.squidtvguide/resources/logos"/>

    </category>

    <category label="30114">
        <setting id="cache.data.on.xbmc.startup" label="30110" type="bool" default="true" />
        <setting id="enable.osd" label="30118" type="bool" default="true" enable="eq(2,false)" />
        <setting label="30119" type="lsep" />
        <setting id="alternative.playback" label="30120" type="bool" default="false" />
        <setting label="30121" type="lsep" />
    </category>

    <category label="30112">
        <setting id="notifications.enabled" label="30106" type="bool" default="true" />
        <setting label="30108" type="action" action="RunScript($CWD/notification.py)" />
    </category>

    <category label="DexterTV">
        <setting id="dexter.username" label="Username" type="text" default="" />
        <setting id="dexter.password" label="Password" type="text" default="" />
        <setting id="player.format" label="Player Format" type="select" values="m3u8|ts" default="m3u8" />
    </category>

    <setting id="source" value="XMLTV" />
    <setting id="xmltv.type" value="0" />
    <setting id="xmltv.url" value="" />
    <setting id="youseetv.category" value="Danske" />
</settings>

